@using System.Text.RegularExpressions;
@using System.Linq;
@model PagedList.IPagedList<PyperSearchMvcWebRole.Models.WebsitePage>

@{
    ViewBag.Title = "Search";
}
@Html.Partial("_NavSearchBar")
<div class="container-fluid bg-transparent">
    @if (Model != null && Model.PageCount > 0)
    {
        <div class="list-group list-group-flush w-50 p-3 text-break">
            @foreach (var page in Model)
            {

                <div class="list-group-item p-2" target="_blank">

                    <a href="@page.Url" class="d-flex w-100 text-decoration-none" target="_blank">
                        <span class="mb-1 text-primary h5">@page.Title &nbsp;|&nbsp;@page.Domain</span>
                    </a>
                    <small class="mb-1 text-justify font-weight-normal">
                        <a href="@page.Url" target="_blank" class="text-decoration-none text-info">@page.Url</a>
                    </small>
                    <small class="font-italic">@page.PublishDate</small>
                    @{ string snippet = string.Join(" ", page.Content.Split(' ').Take(100));
                        ((List<string>)ViewBag.Keywords).ForEach(x => snippet = Regex.Replace(snippet, x, @"<strong>$0</strong>", RegexOptions.IgnoreCase));
                    }
                    <p class="justify-content-around text-black-50 small p-1">
                        @if (page.PublishDate != null)
                        {<span>@page.PublishDate - </span>}
                        @Html.Raw(WebUtility.HtmlDecode(snippet)).....
                    </p>

                </div>
            }
        </div>
        <nav class="d-flex justify-content-lg-start w-50 p-2">
            <ul class="pagination">
                <li class="page-item  @(@Model.HasPreviousPage? "": "disabled")">
                    <a class="page-link" href="@Url.Action("Index", new { query = ViewBag.Query, pageNumber = Model.PageNumber - 1 })"
                       tabindex="-1" aria-disabled="@(@Model.HasPreviousPage? "false": "true")">
                        Prev
                    </a>
                </li>
                @for (var pageNumber = 1; pageNumber <= Model.PageCount; pageNumber++)
                {
                    <li class="page-item @(@Model.PageNumber == pageNumber? "active": "")">
                        <a class="page-link" href="@Url.Action("Index", new { query = ViewBag.Query, pageNumber = pageNumber })">@pageNumber</a>
                    </li>
                }
                <li class="page-item @(@Model.HasNextPage? "": "disabled")">
                    <a class="page-link" href="@Url.Action("Index", new { query = ViewBag.Query, pageNumber = Model.PageNumber + 1 })"
                       tabindex="-1" aria-disabled="@(@Model.HasNextPage? "false": "true")">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    }
    else if (Model != null && Model.PageCount == 0)
    {
        <br />
        <div class="alert alert-info" role="alert">
            <h4>Your search <strong>@ViewBag.Query</strong> did not match any documents.</h4>
            <h5>Suggestions:</h5>
            <ul>
                <li> Make sure that all words are spelled correctly. </li>
                <li>  Try different keywords. </li>
                <li>Try more general keywords.</li>
                <li> Try fewer keyword</li>
            </ul>
        </div>
    }
</div>



@section scripts {
    <script>
        $("#home-tab").addClass("active");

        function showQuerySuggestions(str) {
            if (str.length == 0) {
                $("#query-suggestions").empty();
                return;
            }
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    $("#query-suggestions").show();
                    $("#query-suggestions").html(this.responseText);
                }
            }
            var actionUrl = '@Url.Action("Autocomplete", "Search")' + '?query=' + str;
            xmlhttp.open('GET', actionUrl, true);
            xmlhttp.send();
        }

        function changeSearchBoxValue(str) {
            if (str.length == 0) {
                return;
            }
            $("#search-box").val(str);
            $('#query-suggestions').hide();
            $('#search-box').focus();
        }

    </script>
}


